<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> angry birds list </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
 
    <h1>{{name}}</h1>
    <div>
     <p>Abilities:{{getangrylist.abilities}}</p>
     <p>Group:{{getangrylist.group}}</p>
     <p>Species:{{getangrylist.species}}</p>
     <p>Feels:{{getangrylist.feels}}</p>
     <img src="{{getangrylist.image}}" alt="">
    </div>
   
</body>
</html>